<div class="auth-layout">
  <div class="card auth-card">
    <h1>Admin Login</h1>
    <p>Use <b>admin</b> and <b>admin@123</b> to manage users.</p>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>Admin Username</label>
      <input formControlName="username" type="text" />
      <label>Password</label>
      <input formControlName="password" type="password" />
      <button class="btn-primary" type="submit">Login as Admin</button>
    </form>

    <a routerLink="/">Back to user login</a>
    <div class="error" *ngIf="error">{{ error }}</div>
  </div>
</div>
